<h1 ><b>About Us</b> </h1>
<div class="content">
<p> We pride ourselves on having a wide
    selection and we definitely have something that will fit your needs.Wireless headphones are headphones that connect to a device,
    such as a smartphone, stereo speaker, television, gaming console, computer, or
    other electronic devices without using a wire or cable.Wireless headphones come
    in a variety of styles, sizes and price-points. We pride ourselves on having
    a wide selection and we definitely have something that will fit your needs.
    Wireless headphones are headphones that connect to a device, such as a smartphone,
    stereo speaker, television, gaming console, computer,
    or other electronic devices without using a wire or cable
    .Wireless headphones come in a variety of styles, sizes and price-points.
    We pride ourselves on having a wide selection and we definitely have something
    that will fit your needs.Wireless headphones are headphones that connect to a device,
    such as a smartphone, stereo speaker, television, gaming console, computer,
    or other electronic devices without using a wire or cable.
    Wireless headphones come in a variety of styles, sizes and price-points.
    We pride ourselves on having a wide selection and we definitely
    have something that will fit your needs.
      Wireless headphones are headphones that connect to a device,
      such as a smartphone, stereo speaker, television, gaming console, computer, or
      other electronic devices without using a wire or cable.Wireless headphones come in
      a variety of styles, sizes and price-points. We pride ourselves on having a wide
      selection and we definitely have something that will fit your needs.</p>
</div>

